nav.menu-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

nav.menu-nav ul li.btn {
  flex: 1;
  height: 40px; /* Remplacez la valeur par celle souhaitée */
}

nav.menu-nav ul li.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #000;
  padding: 10px;
}

nav.menu-nav ul li.btn:hover a {
  color: #000;
  background-color: #fff;
}


}
h1{
	color: #000;
	text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


footer {
  width: 100%;
  position: sticky;
  bottom: 0;
}
header {
  width: 100%;
  position: sticky;
  bottom: 0;
}


.#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
  grid-gap: 10px; /* Espacement entre les panels */
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.panel-row {
  display: flex;
  flex-wrap: wrap;
}

.panel-item {
  margin-bottom: 10px;
}

.panel-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.panel-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.panel-item h3 {
  margin-top: 0;
}

.panel-item p {
  margin-bottom: 10px;
}

.panel-item .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}